div.dashboard-component h3, h4, h5, h6 {
  font-weight: 700;
}

div.dashboard-component ul {
  padding: 0 0 0 2px;
}

div.dashboard-component li {
  list-style: none;
  border-bottom: 1px solid #ddd;
}

.committee-name, .committee-description, .committee-delete {
  display: inline-block;
  margin-right: 1em;
}

.committee-delete {
  text-align: right;
  border: none;
  background-color: transparent;
  margin-left: 0.5em;
  margin-right: 0;
  box-shadow: none !important;
}

div.dashboard-component input {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

div.dashboard-component form button {
  box-shadow: none !important;
  border: 1px solid #DDD;
  width: 80%;
  padding: 1px 0;
  margin: 0 auto;
}
