.link {
  text-decoration: none;
  color: #fff;
}

.media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.searchBar {
  display: flex;
  width: 600;
  justify-content: center;
  flex-wrap: wrap;
}
